.item {
  text-align: left;
  border: 1px solid rgb(0 0 0 / 0.1);
  border-radius: 10px;
  padding: 10px;
  background: var(--sl-color-bg-subtle);
  cursor: pointer;
  width: 100%;
}

.item:hover {
  background: var(--sl-color-bg-hover);
}

.preview {
  width: 100%;
  height: 48px;
  display: flex;
  gap: 4px;
  align-items: stretch;
}

.previewCol {
  border: 8px solid color-mix(in srgb, var(--sl-color-primary) 20%, transparent);
  background-color: var(--sl-color-primary);
  /* background: var(--sl-color-text); */
  border-radius: 2px;
  height: 100%;
}

.preview > div {
  background-color: color-mix(in srgb, var(--sl-color-primary) 20%, transparent);
  border-radius: 2px;
}

.preview-1col {
  width: 100%;
}

.preview-2col-25-75 {
  display: flex;
  gap: 2px;
  width: 100%;
}
.preview-2col-25-75::before {
  content: "";
  flex: 0 0 25%;
  background: var(--sl-color-text);
  border-radius: 2px;
}
.preview-2col-25-75::after {
  content: "";
  flex: 0 0 75%;
  background: var(--sl-color-text);
  border-radius: 2px;
}

.preview-2col-75-25 {
  display: flex;
  gap: 2px;
  width: 100%;
}
.preview-2col-75-25::before {
  content: "";
  flex: 0 0 75%;
  background: var(--sl-color-text);
  border-radius: 2px;
}
.preview-2col-75-25::after {
  content: "";
  flex: 0 0 25%;
  background: var(--sl-color-text);
  border-radius: 2px;
}

.preview-2col-50-50 {
  display: flex;
  gap: 2px;
  width: 100%;
}
.preview-2col-50-50::before {
  content: "";
  flex: 0 0 49%;
  background: var(--sl-color-text);
  border-radius: 2px;
}
.preview-2col-50-50::after {
  content: "";
  flex: 0 0 49%;
  background: var(--sl-color-text);
  border-radius: 2px;
}

.preview-2col-33-67 {
  display: flex;
  gap: 2px;
  width: 100%;
}
.preview-2col-33-67::before {
  content: "";
  flex: 0 0 33%;
  background: var(--sl-color-text);
  border-radius: 2px;
}
.preview-2col-33-67::after {
  content: "";
  flex: 0 0 65%;
  background: var(--sl-color-text);
  border-radius: 2px;
}

.preview-2col-67-33 {
  display: flex;
  gap: 2px;
  width: 100%;
}
.preview-2col-67-33::before {
  content: "";
  flex: 0 0 65%;
  background: var(--sl-color-text);
  border-radius: 2px;
}
.preview-2col-67-33::after {
  content: "";
  flex: 0 0 33%;
  background: var(--sl-color-text);
  border-radius: 2px;
}

.preview-3col {
  display: flex;
  gap: 2px;
  width: 100%;
}
.preview-3col::before {
  content: "";
  flex: 0 0 32%;
  background: var(--sl-color-text);
  border-radius: 2px;
}
.preview-3col::after {
  content: "";
  flex: 0 0 32%;
  background: var(--sl-color-text);
  border-radius: 2px;
}
.preview-3col {
  position: relative;
}
.preview-3col::before,
.preview-3col::after {
  content: "";
  flex: 0 0 32%;
  background: var(--sl-color-text);
  border-radius: 2px;
}
